name: Lint workflow

on:
pull_request:
  branches:
  - develop
  - staging

jobs:
test:
  runs-on: ubuntu-latest

  steps:
  - name: Checkout code
    uses: actions/checkout@v1

  - name: Use nodejs 21.x
    uses: actions/setup-node@v1
    with:
    node-version: 21.x

  - name: install deps
    run: npm install

  - name: Run lint
    run: npm run lint
  
  
